---
import SectionHeading from './SectionHeading.astro'

const { number, title, items } = Astro.props
---

<section class="panel experience" aria-labelledby="experience-title">
    <SectionHeading number={number} title={title} id="experience-title" />
    <ol class="timeline">
        {items.map((item) => (
            <li>
                <time>{item.period}</time>
                <div>
                    <strong>{item.role}</strong>
                    <a href={item.url} target="_blank">{item.organization}</a>
                </div>
            </li>
        ))}
    </ol>
</section>
